archive/
back/
build/
bin/
e/
.vscode/
template/
results/

*.pyc
*.npz
#*.png
*.pdf
*.eps
*.o
*.jpg
*.txt
*.mp4
*.gch
a.out
*.dat
*.json
*.aux
*.log
*.fls
*.tar.gz
*.dat
*.class
prog
*.npy
*.npz
*.adjlist
*.graphml
*.gdf
