archive/
back/
build/
dist/
bin/
e/
.vscode/
template/
results/
.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
*.egg-info/
*.npz
#*.png
*.pdf
*.eps
*.o
*.jpg
*.txt
*.mp4
*.gch
a.out
*.dat
*.json
*.aux
*.log
*.fls
*.tar.gz
*.dat
*.class
prog
*.npy
*.npz
*.adjlist
*.graphml
*.gdf
matlab/
